<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head">
    <title>Pathfinder</title>
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:include="/fragments/navbar"></header>

    <section class="road">
        <div th:each="singleRoute : ${allRoutes}">
            <h2 th:text="${singleRoute.name}">Your Route</h2>
            <div>
                <img th:src="${singleRoute.imageUrl}" alt="Title image">
                <p th:text="${singleRoute.description}"></p>
                <a href="/" class="btn">Learn More</a>
            </div>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="/fragments/footer"></footer>
</html>